target/
.idea/
.settings/
*.iml
.project
.classpath
.springBeans
.sonar4clipse*
.sonar4clipseExternals
.DS_Store
node_modulespackage-lock
.jsonnode
build/
.mvn/.develocity
spring-data-jpa/gen
webapp/ajout_admin.html